@media (max-width: 580px) {
    .landing-page-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 470px;
    }

    .landing-page-img-container {

   
        position:absolute;
        top: 60px;
       
        
        width: 100%;
        height: 400px;
        background-image: url('/public/images/landing-page-food.jpg');
    
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        background-position: center;
        clip-path: none;
        opacity: 0.9;
   
    
    }
    .initial-search-section{
        width: 100%;
        height: 300px;
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .initial-search-section h1{
        font-size: 2.1em;
        text-align: center;
        
        
    
    }
    .search-input{
        border-radius: 22px 0 0 22px;
        width: 180px;;
        border: 1px solid  #f2f2f2;
        outline: none;
        padding: 15px 30px;
        background-color: #f2f2f2;
    }
    
    .search-btn{
        border-radius: 0 22px 22px 0;
        padding: 11px 20px;
        border: 1px solid  #7F416D;
        background-color: #7F416D;
        color: #ffff;
        outline: none;
    
    
    }
    .search-btn:hover{
        background-color: #653457;
    }

}