@media (max-width: 480px){
    .searched-food-container-title h2{
        margin-left: 50px;
        font-size: 1.5em;
    }
    
    .searched-food-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
    }
    
    
    .searched-food-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        width: 100%;
        align-items: center;
        margin: 30px 0;
    
    }
}