


.food-suggestion-title h3::after{
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 80%;
}

@media(max-width: 480px){
    .food-suggestion-title h3::after{
        background-color: #000;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 90%;
        display: none;
       
    }
   
    .food-suggestion-title h3{
        text-align: center;


    }
    
}
