@media (max-width:480px){
    .food-card{
        border: 1px solid #f2f2f2;
        width: 180px;
        border-radius: 15px;
        position: relative;
        z-index: 1;
    }
    
    
    .food-img{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .food-img img{
        width: 170px;
        margin: 5px 5px;
        border-radius: 15px;
        
    }
    
    .food-name{
        height: 80px;
        margin: 0px 10px;
    }

    .food-name h4{
        font-size: 0.9em;
    }
    
    .add-food-btn {
        position: absolute;
    }
    .add-food-btn button{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        z-index: 2;
        top: -268px;
        right: -168px;
        position: absolute;
        background-color: #7F416D;
        color: #ffff;
        font-size: 28px;
        cursor: pointer;
        border: none;
        outline: none;
    }
    
    .add-food-btn button:hover{
        background-color: #653457;
    }
}