@media (max-width: 480px) {
    nav{
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        
    }
    nav a{
        text-decoration: none;
    
    }
    
    nav h1{
        font-family: 'Cinzel Decorative', cursive;
        font-size: 1.2em;
        color: #000000;

    }
    
    
    
    
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 0px;
        width: 100%;
        top: 0px;
        left: 0px;
        right: 0px;
        background: #f2f2f2;
        border-radius: 0;
        
    
        height: 60px;
        color: #000000;

        padding: 0px 5px 0 5px;
    }

    .login-signup-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    
    
    .sign-up-btn{
        text-decoration: none;
        
    }
    .sign-up-btn button{
        outline: none;
        border: 1px solid  #7F416D;
        padding: 7px 10px;
        border-radius: 22px;
        background-color: #7F416D;
        color:#ffff;
        cursor: pointer;
        font-size: 12px;
        font-weight: 500;
 
    
    }
    
    .login-btn{
        text-decoration: none;
        
    }
    .login-btn button{
        outline: none;
        border: 1px solid  #7F416D;
        padding: 7px 10px;
        border-radius: 22px;
        background-color:#f2f2f2 ;
        color:#000000;
        cursor: pointer;
        font-size: 12px;
        font-weight: 550;
        margin-left: 10px;
    
    
    }
    
    .cart-btn button{
        color: #808080;
        text-decoration: none;
        outline: none;
        border: none;
        font-size: 1.5em;
        margin-left: 10px;
        cursor: pointer;
    }

    .cart-btn-active button{
        color: #000000;
        text-decoration: none;
        outline: none;
        border: none;
        font-size: 1.5em;
        margin-left: 10px;
        cursor: pointer;
    }




}