
@media (min-width: 1400px) {
    .landing-page{
        /* width: 1400px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}